
@font-face {
  font-family: "Rubik-local";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Arimo-local";
  src: url("../fonts/Arimo/Arimo-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Heebo-local";
  src: url("../fonts/Heebo/Heebo-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Amatic_SC-local";
  src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: "Noto_Serif_Hebrew-local";
  src: url("../fonts/Noto_Serif_Hebrew/NotoSerifHebrew-VariableFont_wdth\,wght.ttf");
}
.artistic-font {
    font-family: Amatic_SC-local;
}