/* BASE */
@import './base.css';
@import './helpers.css';
@import './layout.css';

@import './cmps/app-header.css';
@import './cmps/app-footer.css';

@import './cmps/note-page.css';
@import './cmps/note-info.css';
@import './cmps/note-list.css';
@import './cmps/note-preview.css';
@import './cmps/note-edit.css';
@import './cmps/note-filter.css';



.logo {
    font-weight: 700;
    direction: ltr !important;
    /* color: red !important; */
    color: red !important;
}
.logo span {
    color: black;
    text-transform: lowercase;
}
.logo span:before {
    content: '.';
}

.home-page .logo {
    font-size: 4rem;
}
@media (max-width: 300px) {
    .home-page .logo {
        font-size: 3rem;
    }
}
@media (max-width: 200px) {
    .home-page .logo {
        font-size: 2.2rem;
    }
}




.main-pad-y {
    padding-top: 1.25rem; /* 20px; */
    /* text-decoration: underline; */
}